@import url("https://fonts.googleapis.com/css2?family=Marck+Script&display=swap");
@import "../color";

.navbar {
  width: 100%;
  color: white;
  background-color: $primary-dark;

  a {
    color: inherit;
    text-decoration: inherit;
  }

  nav {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      font-family: "Marck Script", cursive;
      padding: 1rem;
    }

    ul {
      list-style: none;
      display: flex;
      height: 100%;

      li {
        display: flex;
        padding: 1rem;
        cursor: pointer;

        &:hover,
        &:focus {
          background-color: $primary-light;
        }
      }
    }
  }
}
