.product__card {
  min-width: 0;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  background-color: white;

  .product__image {
    display: inline-block;
    border-radius: 8px 8px 0 0;

    width: 100%;
    background-size: cover;
    .dummy {
      margin-top: 100%;
      padding: inherit;
      position: relative;

      .product__discount {
        color: white;
        position: absolute;
        height: 6rem;
        width: 6rem;
        bottom: 0.5rem;
        right: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        background-image: url("http://localhost:3000/discount.svg");
        background-size: cover;
      }
    }
  }

  .product__info {
    padding: 0.5rem;

    .product__title,
    .product__description {
      margin-bottom: 2rem;
    }

    .product__title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 1.5rem;

      a {
        color: black;
        text-decoration: none;
      }
    }

    .product__description {
      color: gray;
    }

    .product__price {
      margin-top: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      p {
        font-size: 1.5rem;
      }
    }
  }

  @media screen and (max-width: 800px) {
    .product__title {
      font-size: 1rem;
    }

    .product__description {
      font-size: 0.75rem;
    }
  }
}
