.container {
  width: 100%;
  .row {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 1rem;

    h2 {
      margin-bottom: 1rem;
    }

    .products {
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      @media screen and (max-width: 900px) {
        & {
          grid-template-columns: repeat(3, 1fr);
        }
      }
      @media screen and (max-width: 768px) {
        & {
          grid-template-columns: repeat(2, 1fr);
        }
      }
      @media screen and (max-width: 500px) {
        & {
          grid-template-columns: repeat(1, 1fr);
        }
      }
    }
  }
}
